.contactW p.sayHello{
    @apply bg-primary1 relative w-[7rem] h-[2.5rem] rounded-md grid place-items-center mt-14 cursor-pointer
}

.contactW p.sayHello::after{
    content: 'Say Hello';
    @apply absolute w-[7rem] h-[3rem] bg-primary_bg border-primary1 border-[1px] rounded-md text-[13px] transition-all duration-300 ease-in-out grid place-items-center text-primary1 right-0 bottom-0 hover:bottom-1 hover:right-1  
}