.introW{
    @apply text-white py-40
}
.introW p:first-child{
    @apply text-primary1
}
.introW .name{
    background: linear-gradient(360deg,#333,#64ffda,#322);
    @apply lg:text-[5rem] text-[3rem] font-[700] lg:leading-[5rem] leading-[3rem] font-[calibre] hover:animate-bounce text-var_color mt-4 lg:w-max w-full bg-clip-text text-transparent 
}
.introW h2{
    @apply lg:text-[5rem] text-[2.5rem] font-[700] lg:leading-[5rem] leading-[3rem]  font-[calibre] font-[700] text-blur_texts animate-pulse
}
.introW .desc{
    @apply lg:w-[60%] w-full mt-4 text-blur_texts
}

.introW p:last-child{
    @apply bg-primary1 relative lg:w-[15rem] h-[2.5rem] rounded-md grid place-items-center mt-14 cursor-pointer
}
.introW p:last-child::after{
    content: 'Check out my course!!';
    @apply absolute lg:w-[15rem] w-full h-[2.5rem] bg-primary_bg border-primary1 border-[1px] rounded-md text-[13px] transition-all duration-300 ease-in-out grid place-items-center text-primary1 right-0 bottom-0 hover:bottom-1 hover:right-1  
}
