.somprojectW {
  @apply w-full h-auto pt-20;
}
.projectImg {
  /* filter: brightness(60%); */
  @apply lg:w-[55%] lg:h-[25rem] h-auto w-full grid place-items-center brightness-75 hover:brightness-100;
}
/* .projectImg{
    filter: brightness(60%)

} */
.projectImg img {
  @apply w-full h-full border-[3px] rounded-lg border-primary_bg2 relative;
}

.somprojectW p.learnMore,
.otherProjectW p.showMore {
  @apply bg-primary1 relative w-[7rem] h-[2.5rem] rounded-md place-items-center mt-14 cursor-pointer;
}

/* .somprojectW .learnMore::after
{
    content: 'Learn More';
    @apply absolute w-[7rem] h-[2.5rem] bg-primary_bg border-primary1 border-[1px] rounded-md text-[13px] transition-all duration-300 ease-in-out grid place-items-center text-primary1 right-0 bottom-0 hover:bottom-1 hover:right-1 
} */
.otherProjectW p.showMore::after {
  @apply absolute w-[7rem] h-[2.5rem] bg-primary_bg border-primary1 border-[1px] rounded-md text-[13px] transition-all duration-300 ease-in-out grid place-items-center text-primary1 right-0 bottom-0 hover:bottom-1 hover:right-1;
}

.otherProjectW p.showMore::after {
  @apply h-[3rem];
}

.EachOtherProjects:hover h1 {
  @apply text-primary1;
}

.views {
  @apply hover:text-primary1 flex space-x-2 items-center;
}
.views p {
  @apply bg-[url('/eye2.png')];
}
.views:hover p {
  @apply bg-[url('/eye.png')];
}
.default {
  color: red;
}



/* Modal css */